.hero1{
    
        width: 540px;
height: 621px;
    img{
        width: 540px;
height: 621px;
    }
}
.hero2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1{
        font-family: Raleway;
        font-size: 60px;
        span{
            color: rgb(1, 177, 45);
        }
    }
    p {
        font-family: Raleway;
font-size: 18px;
    };
    button:hover{
                border: 3px solid rgb(13, 0, 255);

    }
    button{
        border: 3px solid black;
        font-family: Raleway;
font-weight: 500;
font-size: 20px;
        width: 227px;
height: 65px;
border-width: 1px;
padding-top: 20px;
padding-right: 60px;
padding-bottom: 20px;
padding-left: 60px;
gap: 6px;

    }
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1440px;
height: 620px;
}