*{
    font-family: Releway;
}
.full{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    h1{
        font-family: Raleway;
font-weight: 500;
font-size: 40px;
    }
    p{
        font-family: Raleway;
font-weight: 500;
font-size: 18px;
padding: 30px 0;
    }
}
.svg{
    img{
        padding-right: 40px ;
        width: 150px;
        height: 150px;
    }
}