/* .conte{
    display: flex;
}
.full{
    position: absolute;
    width: 100%;
height: 574px;
background-image: url(./Rectangle.png);
background-repeat: no-repeat;
background-size: cover;
}
.content{
    position: absolute;
    background: linear-gradient(right black,rgba(255, 255, 255, 0));
} */
.section{
    background-image: url(./pic_background.png);
background-repeat: no-repeat;
background-size: cover;
}
.conte{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 140px;
    width: 100%;
height: 650px;
    h1{
        color: aliceblue;
        font-family: Raleway;
font-weight: 500;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;

    }
    p{
        font-family: Raleway;
font-weight: 500;
font-size: 18px;
color: aliceblue;
line-height: 150%;
letter-spacing: 0%;

    }
    button{
        border-radius: 19px;
        font-family: Raleway;
        border: 3px solid black;
font-size: 20px;
color: #2C2D35;
width: 257px;
height: 65px;
cursor:cell;
background-color: #EEDB6D;
    }
    button:hover{
        border: 3px solid rgb(0, 13, 255);
    }
}