* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.hdiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 600px;
  button {
    background-color: #d4e8d9;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    margin: 10px;
    border: none;
  }
  button:hover {
    background-color: #376b44;
    color: #f4f6f5;
    border: none;
  }
}

.hdiv2 {
  width: 350px;
  height: 640px;
  background-color: #e1ede6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    color: #86928b;
    font-size: 10px;
    margin: 10px;
    font-weight: 100;
  }
  h2 {
    color: #2c2d35;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 10px;
  }
  h4 {
    color: #2c2d35;
    font-weight: 100;
    font-size: 10px;
  }
  button {
    background-color: #e1ede6;
    border: 1px solid #598d66;
    width: 320px;
    height: 70px;
  }
}
