* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  background-color: #e1ede6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  height: 60px;
  a {
    text-decoration: none;
    color: #2c2d35;
    font-size: 13px;
    margin: 27px;
  }
}
